{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container pt-5">
        <h1>Exécuter une commande</h1>
        {{ form(form) }}

        {% if output is not null %}
            <div class="alert alert-success">
                {{ output }}
            </div>
        {% endif %}
    </main>

{% endblock %}