{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ form(form) }}

    {% if article %}
        <img src="{{ asset("uploads/images/" ~ article.imageFilename) }}" alt="">
        <h1>{{ article.title }}</h1>
        {{ article.description|raw }}
    {% endif %}
{% endblock %}
