{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ form(form) }}

    {% if article %}
        <h1>{{ article.title }}</h1>

        {{ article.description|raw }}
    {% endif %}
{% endblock %}
