{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container pt-5">
        Choisissez une commande à exécuter parmi la liste suivante :
        <ul>
            <li>Supprimer vos articles archivés : <b>php bin/console app:article:prune</b></li>
        </ul>

        <div class="alert alert-danger">Veillez à correctement saisir le nom des commandes !</div>

        {{ form(form) }}

        {% if output is not null %}
            {{ output }}
        {% endif %}
    </main>

{% endblock %}
